---
layout: page
---

{{ content }}

{% comment %}
list all datasheets types
{% endcomment %}

{% assign distinct_datasheet_types = "" | split: ',' %}

{% for datasheet in site.datasheets %}
    {% unless distinct_datasheet_types contains datasheet.type %}
        {% assign distinct_datasheet_types = distinct_datasheet_types | push: datasheet.type %}
    {% endunless %}
{% endfor %}

{% assign distinct_datasheet_types_sorted = distinct_datasheet_types | sort: '.'  %}
{% assign datasheets_sorted = site.datasheets | sort: 'title'  %}

{% for datasheet_type in distinct_datasheet_types_sorted %}
<ul class="content ps-0">
    <h2>{{ datasheet_type }}</h2>
    {% for datasheet in datasheets_sorted %}
        {% if datasheet.type == datasheet_type %}
        <li>
            <a href="{{ datasheet.url | relative_url }}">{{ datasheet.title }}</a>
            {% assign state = datasheet.state | strip_newlines %}
            {% assign replacement = datasheet.replacement | strip_newlines %}
            {% if state == "discontinued" and datasheet.replacement != "" %}
                [ {{ state }} - Replacement : {{ replacement }} ]
            {% elsif state != "" %}
                [ {{ state }} ]
            {% endif %}

            {{ datasheet.excerpt }}
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endfor %}

